$fontPricipal: 'Roboto', sans-serif;
$background-color-body: #f5f6fa;
$background-color-header: #182C61;
$background-color-button: #44bd32;
$background-color-button-hover: #4cd137;
$text-color-white: #fff;
$container-max-width: 1024px;
$container-padding: 16px;
$product-border-radius: 16px;
$product-button-border-radius: 8px;
$margin-top-large: 40px;
$padding-section: 56px 0;